<configuration>
    <sitecore>
        <settings>
            <!-- Moosend Api Key -->
            <setting name="Moosend.ApiKey" value="API KEY" />
            
            <!-- Moosend SMTP settings -->
            <setting name="MailServer" value="smtp.mailendo.com"/>
            <setting name="MailServerUserName" value="YOU ACCOUNT EMAIL"/>
            <setting name="MailServerPassword" value="YOU ACCOUNT PASSWORD"/>
            <setting name="MailServerPort" value="25"/>
            <setting name="MailServerUseSsl" value="false"/>
        </settings>
    </sitecore>
</configuration>