<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="15.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <PublishProvider>FileSystem</PublishProvider>
        <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <DeleteExistingFiles>False</DeleteExistingFiles>
        <publishUrl>$(SolutionDir)docker\deploy\website\</publishUrl>
        <ExcludeGeneratedDebugSymbol>False</ExcludeGeneratedDebugSymbol>
    </PropertyGroup>
    <!-- <Target Name="AssetsFiles" AfterTargets="CopyAllFilesToSingleFolderForPackage">
        <Message Text="Copying Assets Files Into $(publishUrl)" Importance="high"/>
        <ItemGroup>
            <AssetsFileItems Include="$(ProjectDir)Assets\MenuServiceShops\**\*.*" />
            <ExistingItems Include="$(publishUrl)\Assets\MenuServiceShops\**\*" />
        </ItemGroup>
        <Delete Files="@(ExistingItems)"/>
        <Copy SourceFiles="@(AssetsFileItems)" DestinationFolder="$(publishUrl)\Assets\MenuServiceShops\%(RecursiveDir)"/>
    </Target> -->
    <!-- <Target Name="DiagnosticFiles" AfterTargets="CopyAllFilesToSingleFolderForPackage">
        <Message Text="Copying Diagnostic Files Into $(publishUrl)" Importance="high"/>
        <ItemGroup>
            <DiagnosticFilesItems Include="$(ProjectDir)bin\System.Diagnostics.*" />
            <NewtonsoftJson Include="$(ProjectDir)bin\Newtonsoft.Json.dll" />
        </ItemGroup>
        <Copy SourceFiles="@(DiagnosticFilesItems)" DestinationFolder="$(publishUrl)\bin"/>
        <Copy SourceFiles="@(NewtonsoftJson)" DestinationFolder="$(publishUrl)\bin"/>
    </Target> --> 

    <!--
      For some reason (sitecore issue) the Include/Project folder is not copied to output
      after(!) slowcheetah transformation. This works fine for Foundation and Feature layer.
    -->
    <!-- <Target Name="ProjectConfigFiles" AfterTargets="WebFileSystemPublish">
        <Message Text="Copying Project config Files Into $(publishUrl)" Importance="high"/>
        <ItemGroup>
            <ProjectConfigItems Include="$(ProjectDir)bin\App_Config\Include\Project\*.*" />
        </ItemGroup>
        <Copy SourceFiles="@(ProjectConfigItems)" DestinationFolder="$(publishUrl)\App_Config\Include\Project" OverwriteReadOnlyFiles="true" />
    </Target> -->
</Project>