<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <forms.renderField>
                <processor type="Foundation.Forms.Processors.RenderFieldWrapper, Foundation.Forms" />
            </forms.renderField>
        </pipelines>
    </sitecore>
</configuration>