<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <services>
            <configurator type="Foundation.Moosend.Configurators.MoosendConfigurator, Foundation.Moosend" />
        </services>

        <api>
            <services>
                <configuration>
                    <allowedControllers hint="list:AddController">
                        <allowedController desc="MoosendServiceApiController">Foundation.Moosend.Controllers.MoosendServiceApiController, Foundation.Moosend</allowedController>
                    </allowedControllers>
                </configuration>
            </services>
        </api>
    </sitecore>
</configuration>